h1 {
  font-size: 4vw;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));
}

.img-container {
  position: relative;
  text-align: center;
}

.img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.centered-subtext {
  font-size: 1vw;
  font-weight: 600;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.7))
}